{% extends 'base.html.twig' %}

{% block title %}New Travel{% endblock %}

{% block header_js %}
    <script type="text/javascript" src="{{ google_maps }}"></script>
{% endblock %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">

                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
            <h3>Add Travel</h3>
            <form name="travel" method="post">
                <div id="root"></div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </form>
        </div>

    </div>

{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
{% endblock %}