{% extends 'old_base.html.twig' %}

{% block title %}Travel {{travel.title }}{% endblock %}

{% block navbar %}
    {% include 'default/navbarPublic.html.twig' %}
{% endblock %}

{% block content %}

    <a class="btn btn-app" style="display:none" id="online-user">
        <i class="fa fa-users"></i> Connected
    </a>

    <div class="container">
        {% include 'travel/travelInfoHeader.html.twig' with {'travel': travel,'mode':'Edit'} %}
        <div id="infoTravel"></div>
        <div class="row">
            <div class="col-sm-3">
                {% include 'travel/locationsPanel.html.twig' %}
            </div>
            <div class="col-sm-8">
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                {% include 'travel/routePanel.html.twig' %}
                {% include 'travel/tracksPanel.html.twig' with {'gpxs': travel.gpx} %}
            </div>
            <div class="col-sm-8">
                {% include 'travel/infoLocationPanel.html.twig' with {'travel': travel} %}
            </div>
        </div>
        {% include 'travel/modalFormAddPoint.html.twig' with {'travel': travel} %}
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="{{ asset('font-awesome-4.3.0/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/ionicons-2.0.1/css/ionicons.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/leaflet.awesome-markers.css')}}">
    <link rel="stylesheet" href="{{ asset('css/dropzone.css')}}">
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('js/json2.js') }}"></script>
    <script src="{{ asset('js/jquery.sortable.js') }}"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="{{ asset('leaflet/leaflet-plugins-master/layer/tile/Google.js') }}"></script>
    <script src="{{ asset('js/leaflet.awesome-markers.min.js') }}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <script src="{{ asset('leaflet/leaflet-gpx-master/gpx.js') }}"></script>
    <script src="{{ asset('js/markersDefinition.js') }}"></script>
    <script src="{{ asset('js/mapPoint.js') }}"></script>
    <script src="{{ asset('js/locationGallery.js') }}"></script>
    <script src="{{ asset('js/websocket/websockets.js') }}"></script>
    <script src="{{ asset('leaflet/leaflet-easyprint.js') }}"></script>
    <script>
        var mPoint = new mapPoint('{{ travel.id }}');
        mPoint.addPlugin('locationGallery',new locationGallery('{{ asset('uploads/gallery/') }}'));

        var map = L.map('map',{
            center: [{{ travel.geolocation.lat}},{{ travel.geolocation.lng }}],
            zoom:8,
            fullscreenControl: {
                pseudoFullscreen: false
            }
        });
        var geocoder = new google.maps.Geocoder();

        var osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

        var googleTerrain = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}',{
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
        });

        var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
        });

        var googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
        });

        var googleRoadMap = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
        }).addTo(map);

        //map.addLayer(gglRoadMap);
        map.addControl(new L.Control.Layers( {'OSM':osm, 'Google Hybrid':googleHybrid, 'Google Satellite':googleSat, 'Google Terrain':googleTerrain,'RoadMap':googleRoadMap}, {}));

        var centralMark = L.marker([{{ travel.geolocation.lat}},{{ travel.geolocation.lng }}], {icon: centerMarker}).addTo(map);

        $( "#center" ).click(function() {
            map.setView([{{ travel.geolocation.lat}},{{ travel.geolocation.lng }}],8);
        });

        $( "#remove-route" ).click(function() {
            removeRoute();
        });

        $( "#calculate-route" ).click(function() {
            calculateRoute();
        });

        $( "#reset" ).click(function() {
            resetRoute();
        });

        $( "#itinerary" ).click(function() {
            panelItinerary();
        });

        function calculateRoute() {
            mPoint.calculateRoute();
        }

        function removeRoute() {
            mPoint.removeRoute();
        }

        function resetRoute() {
            mPoint.resetRoute();
        }

        function panelItinerary() {
            mPoint.panelItinerary();
        }

        // This example displays an address form, using the autocomplete feature
        // of the Google Places API to help users fill in the information.

        function initialize() {
            var gpxRoutes = [];

            autocomplete = new google.maps.places.Autocomplete((document.getElementById('address')),{ types: ['geocode'] });
            {% include 'travel/loadPointsMap.html.twig' with {'locations': travel.location} %}
            {#'travel/loadGpxTracks.html.twig' with {'gpxs': travel.gpx} #}
        }

        initialize();

        var printer = L.easyPrint({
      		tileLayer: googleRoadMap,
      		sizeModes: ['Current', 'A4Landscape', 'A4Portrait'],
      		filename: 'myMap',
      		exportOnly: true,
      		hideControlContainer: true
		}).addTo(map);

    </script>
{% endblock %}

{% block aside %}{% endblock %}

{% block header_js %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBDFGff7mQ3mWhfZ5IYuqPxsCd049nqIn4"></script>
{% endblock %}