{% extends 'old_base.html.twig' %}

{% block title %}Update Travel{% endblock %}

{% block header_js %}
    <script type="text/javascript" src="{{ google_maps }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                {{ form_start(travelForm) }}
                <h3>Update Travel</h3>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {{ form_widget(travelForm) }}
                <button type="submit" class="btn btn-primary">Update</button>
                {{ form_end(travelForm) }}
            </div>
            <div class="col-sm-8">
                <div id="map"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('js/leaflet@1.7.1/leaflet.js') }}"></script>
<script>
var map = L.map('map').setView([{{ latitude }}, {{ longitude }}], 8);

	var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(map);
    var marker = L.marker([{{ latitude }}, {{ longitude }}]).addTo(map);

</script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/leaflet@1.7.1/leaflet.css') }}" />
{% endblock %}