{% extends 'base.html.twig' %}

{% block content %}

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-8">
                <h1>Plan your trip in a seconds</h1>
                <h2>Create your trip collaborative, sharing trips</h2>
                <img class="featurette-image img-responsive" data-src="holder.js/500x350/auto" alt="Generic placeholder image">
                {% if not(app.user) %}
                    <div>
                        <a href="{{ path('private_login') }}"><button type="button" class="btn btn-success navbar-btn">Sign in</button></a>
                        <a href="{{ path('private_register') }}"><button type="button" class="btn btn-success navbar-btn">Register</button></a>
                    </div>
                {%  endif  %}
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h1>Sign up</h1>

            </div><!-- /.row -->
            <hr class="featurette-divider">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-horizontal">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-2 control-label" for="formGroupInputLarge">Search a trip</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" id="formGroupInputLarge" placeholder="Where do you want to go?">
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-warning  btn-lg">Search</button>
                            </div>

                        </div>

                    </form>
                </div><!-- /.col-lg-4 -->

            </div><!-- /.row -->
            <hr class="featurette-divider">
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <img src="{{ asset('img/1438458977_world.png') }}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                    <h2>Plan trip</h2>
                    <p>Allow to oher user to read documents and allow them to annotate. The users diced if the annotations will be shared or not.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img  src="{{ asset('img/1438458971_photo.png') }}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                    <h2>Create Routes</h2>
                    <p>Make your documents more rich adding external resources with a simple drag and drop</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img  src="{{ asset('img/1438459021_camera.png') }}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                    <h2>Share information</h2>
                    <p>Export the documents annotated to PDF format or sets as a valid versión.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            <!-- Start Travels Best-->
                {{ render(controller(
                        'App\\UI\\Controller\\BestTravelsListController::listBestTravels',
                        { 'maxtravels': 10 }
                    )) }}
            <!-- End Travels Best-->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5">
                    <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive" data-src="{{ asset('holder/holder.js/500x500/auto')}}" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->


            <!-- FOOTER -->
            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy;  {{ "now"|date("Y") }} Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </footer>

        </div>
    </div>
        <!-- /.container -->
{% endblock %}


