{% extends 'base.html.twig' %}

{% block content %}
    <div class="container" ng-app="ShowTravelsApp">
        <div class="row" ng-controller="travelController">
            <h1>{{ 'MyMaps'|trans }}</h1>
            <h2>{{ 'Welcome'|trans }}</h2>
            {% for travel in travels %}

                <div class="col-sm-3">
                    <h3><a href="{{ path('show_travel',{'slug':travel.slug}) }}">{{ travel.title }}</a></h3>
                    <div>
                        <a href="{{ path('updateTravel', { 'slug': travel.slug }) }}">Edit</a>
                        <a href="{{ path('publishTravel', { 'slug': travel.slug }) }}">Publish</a>
                    </div>
                    <div>
                        {% if travel.photo %}
                            <img src="{{ asset('uploads/travel_photos/' ~ travel.photo) }}" class="featurette-image img-responsive" alt="{{ travel.title }}">
                        {% endif %}
                    </div>
                    <div class="date-travel">
                        <a href="#">   {{ travel.startAt | date("d/m/Y")}} To {{ travel.endAt |date("d/m/Y")}}</a>
                    </div>
                    <div class="date-travel">
                        <span>STATUS: {{ travel.status }}</span>
                    </div>
                    <div class="info-travel">
                        {{ travel.description|truncate(50) }}
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Likes {{ travel.stars }}
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Watch {{ travel.watch }}
                    </div>
                </div>
                <!--
                <div id="root"></div>
                -->
            {% else %}
                <div>Empty Travels</div>
            {% endfor %}
        </div>

    </div>
{%  endblock %}
